<div class="main">
  <a href="#home" class="SBLogo">
    <h1>Serious Business</h1>
  </a>
  <div class="nav-list" id="navList">
    <li><button class="nav-button"><a href="#home" id="home">Home</a></button></li>
    <li><button class="nav-button" type="button"><a href="" id="News">News</a></button></li>
    <li><button class="nav-button"><a href="#roster" id="roster">Roster</a></button></li>
    <li><button class="nav-button"><a href="https://classic.warcraftlogs.com/guild/reports-list/628873" id="logs"
          target="_blank">Logs</a></button></li>
    <li><button class="nav-button active"><a href="https://discord.gg/z733BBF9mc" id="discord">Join Our
          Discord</a></button></li>
  </div>
</div>
