.main {
    color: #C1EDCC;
    overflow: hidden;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    height: 5rem;
}
.nav-list{
    align-items: center;
    display: flex;
    margin-right: 10px;
    list-style-type: none;
}
.nav-button {
    color: #B0C0BC;
    text-align: center;
    padding: 14px 16px;
    height: 100%;
 }
 a.active{
    background-color: #C1EDCC;
    color: #797270;
 }
.SBLogo{
    text-decoration: none;
    color: #C1EDCC;
    margin-left: 20px;
}
.nav-button:hover{
    color: white;
}

li a{
    text-decoration: none;
    list-style-type: none;
}