<div class="main">
  <div class="nav-list">
    <div class="nav-list-items">
      <a href="#home" class="SBLogo">
        <h1>Serious Business</h1>
      </a>
    </div>
    <div class="nav-list-items nav-button">
      <a href="#home" class="nav-button">Home</a>
    </div>
    <div class="nav-list-items nav-button">
      <a href="#roster" class="nav-button">Roster</a>
    </div>
    <div class="nav-list-items nav-button">
      <a href="https://classic.warcraftlogs.com/guild/reports-list/628873" target="_blank" class="nav-button">Logs</a>
    </div>
  </div>
</div>
