.main {
    color: #C1EDCC;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    height: 5rem;
}
.nav-list{
    align-items: center;
    display: flex;
    margin-right: 10px;
    list-style-type: none;
}
.nav-button {
    font-family:'Bebas Neue', cursive;
    font-size: larger;
    text-align: center;
    padding: .5rem 1rem;
    max-height: 100%;
    background-color: #797270;
    border: none;
 }
 button.active{
    background-color: #C1EDCC;
    color: #797270;
 }
.SBLogo{
    display: flex;
    text-decoration: none;
    color: #C1EDCC;
    margin-left: 2%;
    font-family: 'My Soul', cursive;
    font-size: larger;
    align-items: center;
}
h1{
    font-size: xx-large;
}
nav-button:hover{
    color: white;
}

a{
    text-decoration: none;
    list-style-type: none;
    color: #B0C0BC;
}

a:hover{
    color: white;
}

@media (max-width: 710px ){
    .main{
        justify-content: space-evenly;
    }
    .nav-list{
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-button{
        font-size:medium;
    }
    .active{
        padding: .1rem;
    }
    h1{
        font-size: x-large;
    }
}