.main {
    background-color: black;
    color: #7fd81e;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
    overflow: hidden;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.nav-list{
    align-items: center;
    display: flex;
    margin-right: 20px;
    list-style-type: none;
}
.nav-button {
    color: #7fd81e;
    text-align: center;
    padding: 14px 16px;

    height: 100%;
 }
 a.active{
    background-color: #7fd81e;
    color: white !important;
 }
.SBLogo{
    text-decoration: none;
    color: #7fd81e;
    margin-left: 20px;
    margin-top: 5px;
}
.nav-button:hover{
    background-color: #7fd81e;
    color: white;
}

.active{
    color: white;
    background-color: #7fd81e;
}
li a{
    text-decoration: none;
    list-style-type: none;
}