<div class="container">
  <div class="recruitmentTitle">
    <h2>Serious Business is recruiting!</h2>
  </div>
  <div class="recruitmentClasses">
    <ul class="classList">
      <li class="Warlock">
        Warlock: <span class="recruitmentOpen">Open</span>
      </li>
      <li class="Priest">
        Priest: <span class="recruitmentOpen">Open</span>
      </li>
      <li class="Paladin">
        Paladin: <span class="recruitmentOpen">Open</span>
      </li>
      <li class="Mage">
        Mage: <span class="recruitmentOpen">Open</span>
      </li>
      <li class="Rogue">
        Rogue: <span class="recruitmentClosed">Closed</span>
      </li>
      <li class="Druid">
        Druid: <span class="recruitmentOpen">Open</span>
      </li>
      <li class="Shaman">
        Shaman: <span class="recruitmentOpen">Open</span>
      </li>
      <li class="Hunter">
        Hunter: <span class="recruitmentOpen">Open</span>
      </li>
      <li class="Warrior">
        Warrior: <span class="recruitmentClosed">Closed</span>
      </li>
    </ul>
  </div>
</div>
