.recruitmentTitle {
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    font-size: x-large;
}
.container{
    border-bottom: #C1EDCC 2px solid;
}
.classList{
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-around;
}

li{
    flex-direction: row;
    list-style: none;
}

.Warlock {
    color:#8788EE ;
}
.Warrior {
    color:#C69B6D ;
}
.Shaman {
    color:#0070DD ;
}
.Priest {
    color:#FFFFFF ;
}
.Paladin {
    color:#F48CBA ;
}
.Mage {
    color:#3FC7EB ;
}
.Druid {
    color:#FF7C0A ;
}
.Rogue {
    color:#FFF468 ;
}
.Hunter {
    color:#AAD372 ;
}

.recruitmentOpen{
    color: #39FF14;
}
.recruitmentClosed{
    color: red;
}

@media (max-width: 800px ){

    .recruitmentTitle{
        font-size: large;
    }
    .classList{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 2%;
    }

}