<div class="container">
  <div class="recruitmentTitle">
    <h2>Serious Business is recruiting!</h2>
  </div>
  <div class="recruitmentClasses">
    <ul class="classList">
      <li class="Warlock listItem">
        Warlock: <span class="recruitmentOpen">Open</span>
      </li>
      <li class="Priest listItem">
        Priest: <span class="recruitmentOpen">Open</span>
      </li>
      <li class="Paladin listItem">
        Paladin: <span class="recruitmentOpen">Open</span>
      </li>
      <li class="Mage listItem">
        Mage: <span class="recruitmentOpen">Open</span>
      </li>
      <li class="Rogue listItem">
        Rogue: <span class="recruitmentClosed">Closed</span>
      </li>
      <li class="Druid listItem">
        Druid: <span class="recruitmentOpen">Open</span>
      </li>
      <li class="Shaman listItem">
        Shaman: <span class="recruitmentOpen">Open</span>
      </li>
      <li class="Hunter listItem">
        Hunter: <span class="recruitmentOpen">Open</span>
      </li>
      <li class="Warrior listItem">
        Warrior: <span class="recruitmentClosed">Closed</span>
      </li>
    </ul>
  </div>
</div>
