/* You can add global styles to this file, and also import other style files */

/* Color Pallete
#C1EDCC
#B0C0BC
#A7A7A9
#797270
#453F3C */

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #c1edcc;
    color: #C1EDCC;
}
.mainContainer{
    background-color: #453F3C;
    margin:1% 3% 3% 3%;
}
.navBar{
    background-color: #797270;
    border-bottom:#c1edcc 2px solid ;
}